<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">    </head>
    <body>
        <h1> Portafolio de servicios.</h1>
        
        <h2>Introduce los datos de un nuevo proyecto</h2>
        <form enctype="multipart/form-data" action="#" method="post">
        
        {% csrf_token %}
        
        {{formProyecto}}
        <br>
        <!-- Botón de envío -->
        <input type="submit" value="Enviar">
    </form>

    </body>
</html>