<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <h1> Portafolio de servicios.</h1>
        
        <h2> Proyectos.</h2>
        
        {% for project in projects %}
        <h2>{{ project.nombre }}</h2>
        <p>{{ project.descripcion }}</p>
        
        <img src="{{project.image.url }}" alt="{{project.nombre}} height="100" />
        {% if project.url %}
        <a href="{{project.url}}">Link</a>
        {% endif %} {% endfor %}
    </body>
</html>