{% load static %}

<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    <div class="container">
        <h1>Portafolio de servicios.</h1>
        
        <h2>Proyectos.</h2>
        
        {% for project in projects %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{ project.nombre }}</h2>
            </div>
            <div class="panel-body">
                <p>{{ project.descripcion }}</p>
                <img src="{{ project.image.url }}" alt="{{ project.nombre }}" height="100" />
            </div>
            {% if project.url %}
            <div class="panel-footer">
                <a href="{{ project.url }}">Link</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>
</html>